name: pi-phone-home
version: 0.1.0
architecture: [amd64, armhf]
maintainer: Dan Carley <dan.carley@gmail.com>
icon:
services:
 - name: pi-phone-home
   description: "P.I. Phone Home"
   start: pi-phone-home <URL>
